page-second {
    ion-content{
        background-image: url('../../assets/imgs/EverGreen.jpg');
        background-size: cover;
        text-align: center;

}
h1{
    font-family: 'Faster One', cursive;
    font-size: 100px;
    color: white; 
}
h3{
    font-family: 'Faster One', cursive;
font-family: 'Chivo', sans-serif;
font-family: 'Merienda', cursive;
font-size: 50px;
// color: white;
}
h4{
    color: white;
}
}
